
.small{
    background: fixed;
    background-color: antiquewhite;
    border: 1px solid black;
    width: 20px;
    height: 20px;
    float: left;    
}


.small-first{
    background: fixed;
    background-color: antiquewhite;
    border: 1px solid black;
    width: 20px;
    height: 20px;
}